[run]
branch = True
include =
    **/.tox/*/lib/*/site-packages/deploy/*.py
    **/.tox/*/lib/*/site-packages/deploy/**/*.py

[report]
show_missing = True
exclude_lines =
    @abc.abstractmethod
    @abstractmethod
